body{
    font-family: "Arial Narrow";
    background-color: #f7fbfb;
}

.container {
    width: 1000px;
    margin: 0px auto;
    text-align: center;
    margin-top: 40px;
}

.container img{
    width: 70px;
    margin-bottom: 10px;
}

.container small {
    float: right;
    color: #c1c3f3;
}
#search {
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    outline: 0px;
    font-size: 30px;
    color: #84969a;
    padding: 5px;
    margin-bottom: 10px;
    transition: 0.5s;
}
#search::placeholder{
    font-style: italic;
    font-size: 30px;
    color: #84969a;
}

#search:focus{
    box-shadow: 9px 7px 20px -7px rgba(0,0,0,0.34);
    transition: 0.5s;
}